<% if user_signed_in? %>
  <%= search_form_for @spot, builder: SimpleForm::FormBuilder, url: spots_path do |f| %>
    <%= f.input :flower_item_spots_flower_item_id_eq, as: :select, label: '花', collection: FlowerItem.pluck(:name, :id) %>
    <%= f.submit %>
  <% end %>
<% else %>
  <div  class="text-center">
    <h1>hana_navへようこそ！</h1>
    <div>
      <%= image_tag 'flower-main.jpeg', :size =>'1000x600' %>
    </div>
  <div class="row mt-4">
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">旅行先や今住んでいる近場で花を楽しみたい！</p>
          <p class="card-text">でも周りにどのようなスポットがあるか分からない、、</p>
          <p class="card-text">そんな悩みを解決！</p>
          <p class="card-text">全国のオススメスポートを分かりやすく紹介！</p>
          <p class="card-text">ユーザー同士で情報の共有も可能！みんなで行ってみたい花スポを探そう!</p>
          <%= link_to "アカウント作成", signup_path, class: 'btn btn-light' %>
          <%= link_to "ログイン", login_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag 'flower-main.jpeg', :size =>'540x250' %>
      </div>
  </div>

<% end %>